
/backend/backend/bin
/frontend/node_modules
/clicker/.vs
/backend/TcpClientTest
/backend/out
/clicker/x64
/backend/obj
/backend/backend/obj
/backend/.vs/backend/
/.vs
/backend/backend/sample.db
/backend/backend/sample.db-shm
/backend/backend/sample.db-wal
